<footer class="bg-secondary">
  <div class="max-w-screen-2xl h-80 mx-auto flex text-white items-center justify-between">
    <div>
      <h2 class="uppercase">2024 InterNet Of Things</h2>
    </div>
    <figure class="flex justify-center pt-12 mb-20 flex-col items-center mt-12">
      <img class="w-64" src="/static/images/logo.png" alt="logo" title="logo" />
      <p class="uppercase mt-6">Made by <b>Jens Danneels</b></p>
    </figure>
    <div class="text-3xl">
      <a href=""><i class="bi bi-github"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</footer>
